* {
    margin: 0;
  }
  .nav {
    display: flex;
    background-color: lightslategray;
    flex-direction: row;
  }
  ol {
    list-style: none;
  }
  li {
    display: inline;
  }
  
  #submit {
    background-color:greenyellow;
    border-radius: 5px;
  }
  
  .content {
    padding: 50px;
    background-color: lightcyan;
    padding-right: 150px;
    font-size: 18px;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: antiquewhite;
  }
  .flex-container > div {
    width: 50%;
    margin: 10px;
    font-size: 18px;
    padding: 50px;
  }
  
  hr {
    margin-left: 55px;
    margin-right: 55px;
  }
  .footer {
    display: flex;
  
    margin-left: 55px;
  }
  
  div > img {
      display: flex;
      
  }
